html body { height: 100%; width: 100%; }

.ui-accordion .ui-accordion-header a { font-size: 10pt; }
.ui-state-pressed {opacity: 0.4; border: 1px solid gray}
/* Override style header dell'accordion esteso (definito gradiente grigio) */
/* Previsti i 3 casi per i diversi browser */
h3.ui-corner-top {  background: -moz-linear-gradient(top, #FAFAFA, #E7E7E7) !important; /* Firefox */ 
                    background: -webkit-gradient(linear, 
                                left top, left bottom, from(#FAFAFA), to(#E7E7E7)) !important; /* Safari e Chrome */
                    filter:   progid:DXImageTransform.Microsoft.Gradient(
                              StartColorStr='#FAFAFA', EndColorStr='#E7E7E7', GradientType=0) !important;} /* IE */ 
                    
h3.ui-corner-top a {color:    #4C4C4C !important;}

h3.ui-corner-top.ui-state-hover { background: -moz-linear-gradient(top, #F6F6F6, #D6D6D6) !important; 
                                  background: -webkit-gradient(linear, 
                                               left top, left bottom, from(#F6F6F6), to(#D6D6D6)) !important; 
                                  filter:   progid:DXImageTransform.Microsoft.Gradient(
                                            StartColorStr='#F6F6F6', EndColorStr='#D6D6D6', GradientType=0) !important;}

h3.ui-corner-top.ui-state-hover a {color:    #000000 !important; }

#wg-containerAll { display: block; position: absolute; bottom: 0px; left: 0px; right: 0px; top: 0px; }

.bgGray{	background: -moz-linear-gradient(top, #FAFAFA, #E7E7E7) !important; /* Firefox */ 
            background: -webkit-gradient(linear, 
                        left top, left bottom, from(#FAFAFA), to(#E7E7E7)) !important; /* Safari e Chrome */
            filter:   progid:DXImageTransform.Microsoft.Gradient(
                      StartColorStr='#FAFAFA', EndColorStr='#E7E7E7', GradientType=0) !important;}
                      
.bgGrayRegular{	background: -moz-linear-gradient(top, #EDEDED, #D1D1D1) !important; /* Firefox */ 
                background: -webkit-gradient(linear, 
                           	left top, left bottom, from(#EDEDED), to(#D1D1D1)) !important; /* Safari e Chrome */
                filter:   progid:DXImageTransform.Microsoft.Gradient(
                          StartColorStr='#EDEDED', EndColorStr='#D1D1D1', GradientType=0) !important;}

/* .leftPanel {width: 18%;position: absolute; background-color: White; left: 0px; bottom: 0px; top: 0px;} */
.leftPanel {width: 300px; float: left; height: 100%; }
.tabPanel { height: 99%; }
#wg-MapPanel .olMapViewport { margin-left: 5px; }

#layer { padding-left: 1px !important; padding-right: 1px !important; height: 93%; }

#wg-LayerListDiv{float: left; width: 100%; display: none; height: 50%; }
#wg-layerLegendDiv{ float: left; overflow: hidden; width: 100%; display: none;}
#wg-layerLegendHeader{height: 30px; padding-top: 15px; padding-left: 5px;}
.recordLegend{border-bottom: 1px solid lightGray;}

/* CENTER PANEL: Map panel */
.centerPanel { height: 100%; overflow: hidden;}
#toolbarMap{position: relative; height: 30px; top: 0px;}             
#wg-headerMapPanel	{position: relative;height: 25px;padding-top: 9px; padding-left: 6px; }
#wg-MapPanel { height: 88%; }
#wg-BottomPanelBar { position: relative; height: 27px; width: 100%; padding-top: 3px; padding-left: 10px; padding-right: 10px; }
#panelMod{	z-index:1001; position: absolute; left:320px; height: 20px; bottom: 20px; width: 170px;padding-bottom: 4px; padding-left: 30px; padding-top: 15px; display: none;}
				
#wg-layerInfoContainer{ top: 95px; height: auto; overflow: hidden; width: 300px; right: 0px; position:absolute;display: none; z-index: 1001; }
#wg-layerInfoContainer .ui-accordion-content { max-height: 500px; }
#wg-layerInfo { height: auto; }
#closeInfoDiv{background-image: url('../images/closePanel.png') ; height: 32px; width: 30px;}

.containerRowLayer{float: left}
.layerCheckBox{display: inline; margin-top: 1px !important; margin-bottom: 1px !important; margin-left: 1px !important; margin-right: 1px !important;}
.layerShowedText{display:inline}

#infoButton{background-image: url('../images/gis_icons/infoMap.png') ; height: 25px; width: 25px; margin-left: 3px; margin-top: 3px;}
#measureDistance{background-image: url('../images/gis_icons/measureDistance.png') ; height: 25px; width: 25px; margin-left: 3px; margin-top: 3px;}
#measureArea{background-image: url('../images/gis_icons/measureArea.png') ; height: 25px; width: 25px; margin-left: 3px; margin-top: 3px;}
#modFeature{background-image: url('../images/gis_icons/move_feature_off.png') ; height: 25px; width: 25px; margin-left: 3px; margin-top: 3px;}
                              
.containerLayer{cursor: pointer;}

.containerLayer{cursor: pointer;}
#wb-formFilter{position: relative; top: 10px; right: 5px; margin-top: 10px;}
#execFilter{position: relative; right: 5px; margin-top: 10px;}
#wb-formSearch{position: relative; top: 10px; height: 70px;}
#wb-SeacrhResultsDiv{position: absolute; border-top: 1px solid lightGray; margin-top: 30px; top:100px; bottom:0px; left: 1px; right: 0px;}
#wb-filterResultsDiv{position: absolute; border-top: 1px solid lightGray; margin-top: 30px; top:170px; bottom:0px; left: 1px; right: 0px;}
#wb-SeacrhResults{display: none; margin-top: 10px; margin-bottom: 3px;} /* IE */
#wb-filterResults{display: none; margin-top: 10px; margin-bottom: 3px;} /* IE */
#execSeacrh{position: relative; right: 5px; margin-top: 10px;}
.itemForm{margin-bottom: 7px;}
#wb-SeacrhResultsAcoordion{position: absolute; overflow: auto; left: 0px; right: 0px; top: 25px; bottom: 0px;}
#wb-filterResultsAcoordion{position: absolute; overflow: auto; left: 0px; right: 0px; top: 0px; bottom: 0px;}
.layerFindContainer{top: 0px; bottom: 0px; overflow: auto;}
#divLoading{position:absolute; z-index: 4; background: white; top: 40%; left: 40%; right: 40%; display: none; height: 40px;}

/* Warning text */
#wb-formFilter .warnignText { margin-top: 1px; margin-bottom: 5px; height: auto; }

/* COORDINATES */
.coords-input { padding-left: 4px; padding-top: 1px;}